
@font-face {
    font-family: standart;
    src: url(../../../fonts/OpenSans_Condensed-Light.ttf);
    
}

@media (max-width:320px) {
    .header-icon {
        max-height: 25px;      
    }
}

.container {  
   display: flex;
   justify-content: space-between;
   align-items: center;
  }  

.header {
    width: 100%;
    padding: 24px 33px 24px 0;
    background-color: #000000;

    &-icon {
        height: 103px;  
    }
    &-load {
        vertical-align: middle;
    }
    &-right {
              
       display: flex;
       justify-content: center;
       align-items: center;
            
        gap: 4em;
        
    }
}

.loginLoaded {
    color: white;
    font-family: standart, sans-serif;
    font-size: calc(12px + 9 * (100vw /  1280));
    margin: 0 2em 0 10px;
    vertical-align: middle;
}



